/static/cache/
/izBasar/secret.py
/static/log/
/public/log/
/log/
.idea
*.db
*.dbf
*.dbt
*.crt
*.key
*.pem
/test.py
/accountSystem/minioTest.py
/DigitalWorld/minioTest.py
*pyc
*/migrations/
.DS_Store
/public/
nohup.out

/izBasar/test.py
