<style>
    .has_filled_automatically {
        color: orange;
    }


    html, body, section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    video {
        width: 100%;
        height: 90%;

    }

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }


    #vid {
        margin-bottom: 4px;
        margin-left: 4px;
    }

    #ArticleInfo {


        position: absolute;
        z-index: 9999;
        top: 200px;
        right: 0;
    {#right: 0;#}{#top:expression(// document.body.scrollTop + document.body.clientHeight - this.clientHeight);#}{#left:expression(document.body.scrollLeft + document.body.clientWidth - this.clientWidth);#} display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        border: solid 1px;
        color: orange;
        width: 50%;
        height: max-content;
        overflow: scroll;

    }

    .my_dev {
        display: flex;
    }

    .my_input {
        width: 70%;
        margin-right: 1%;
    }


    .my_button {
        width: 30%;
    }

    #infoBanner {
        display: flex;
        flex-direction: row;
        border: solid purple 1px;
        height: 30%
    }

    #videoBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: scroll;
        width: 100%;
        height: max-content;
        margin-left: 0;
        border: green solid 1px
    }

    #videoBlock li {
        width: calc(25% - 5px);
        height: 240px;
        background: black;
        color: white;
        margin: 0;
        justify-content: center;
    }

    .btnCopyWXV:hover {
        border: #0081C6 solid 1px;
    }

    .btnCopyWXV:active {
    {#border: #0081C6 solid 1px;#} background-color: rgba(255, 0, 0, 0.5);
    }

    #cover {
        width: 100%;
    }

    #cover:hover {
        border: #0081C6 solid 1px;
    }

    #cover:active {
    {#border: #0081C6 solid 1px;#} background-color: rgba(255, 0, 0, 0.5);
    }
</style>
<div id="ArticleInfo">
    <div id="infoBanner">
        <div style="width: 60%;border: solid green 1px;">
            <div class="my_dev">
                <input class="my_input" id='article_url' type="text" onchange="Article_url(value)"
                       placeholder="请在这里输入公众号文章的URL">
                <input class="my_button" type="button" onClick="getInfoFromUrl('ARTICLE_URL')" value="解析文章链接"/>
            </div>
            <div class="my_dev">
                <input class="my_input" id="articleTitle" type="text" placeholder="this is title of the articles."/>
                <input class="my_button" type="button" onClick="copy1('articleTitle','value')" value="点击复制标题"/>
            </div>
            <div class="my_dev">
                <input class="my_input" id="description" type="text" placeholder="this is descriptions."/>
                <input class="my_button" type="button" onClick="copy1('description','value')" value="点击复制描述"/>
            </div>
        </div>
        <div class="my_dev" style="border: white solid 1px;width: 40%;">
            <img class="my_input" style="width: 80%;" id="cover" alt="公众号文章封面" title="公众号文章封面"
                 onclick="show_big_img(this)">
            <input class="my_button" style="margin-right: 0;width: 20%" type="button" onClick="copy1('cover','src')"
                   value="点击复制图片链接"/>
        </div>
    </div>
    <ul id="videoBlock" style="margin-left: 0;">
        {#                    <li>#}
        {##}
        {#                        <video width="100%" height="100%" controls>#}
        {#                            <source src="http://mpvideo.qpic.cn/0bf26iaacaaa6uaos6jhyzpfb4wdahzaaaia.f10002.mp4?dis_k=42437265eb23aa3b30823f206ebb3460&dis_t=1605636334"#}
        {#                                    type="video/mp4">#}
        {#                        </video>#}
        {#                        视频1#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <video width="100%" height="100%" controls>#}
        {#                            <source src="http://mpvideo.qpic.cn/0bf26iaacaaa6uaos6jhyzpfb4wdahzaaaia.f10002.mp4?dis_k=42437265eb23aa3b30823f206ebb3460&dis_t=1605636334"#}
        {#                                    type="video/mp4">#}
        {#                        </video>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <video width="100%" height="100%" controls>#}
        {#                            <source src="http://mpvideo.qpic.cn/0bf26iaacaaa6uaos6jhyzpfb4wdahzaaaia.f10002.mp4?dis_k=42437265eb23aa3b30823f206ebb3460&dis_t=1605636334"#}
        {#                                    type="video/mp4">#}
        {#                        </video>#}
        {#                    </li>#}


    </ul>
</div>

<script>
    window.onscroll = function () {
        var t = document.documentElement.scrollTop || document.body.scrollTop; //变量t就是滚动条滚动时，到顶部的距离

        var analysePanel = document.getElementById("ArticleInfo");
        if (t >= 100) {     //当拖动到距离顶部100px处时，左边导航固定，不随滚动条滚动

            {#left.style.position = "fixed";#}
            {#left.style.top = "0";#}


        } else {

            {#left.style.position = "absolute";       //恢复正常        #}
            {##}
            {#left.style.top = "100px";#}

        }
        var distance = (100 + t + "px");
        console.log("this is t to top:", distance);
        analysePanel.style.top = distance;
        insertFillUrlButton();
    };

    {#$(document).mousedown(function () {#}
    {#alert("鼠标点击了某处！");#}
    {#})
    #}


    var ARTICLE_URL = " You didn't input and have not analyse yet!";

    function Article_url(value) {
        let element = document.getElementById('article_url');
        element.setAttribute('value', value);
        ARTICLE_URL = value;
        console.log(value, element, ARTICLE_URL);
    }

    function copy1(id, attr) {
        let element = document.getElementById(id);
        copyFromElementAttr(element, attr);
    }

    function initVideoBlock(videosInfoList) {
        var videoBlock = document.getElementById('videoBlock');
        videoBlock.innerHTML = "";
        for (var i = 0; i < videosInfoList.length; i++) {
            var video = videosInfoList[i];
            var src = video.url_info[0].url;
            var title = video.vid;
            var videoLi = document.createElement('li');
            videoLi.innerHTML = "<video controls ><source src=\"" + src + "\" type=\"video/mp4\"></video><view id=\"vid\" style=\"display: flex;flex-direction: row\"><img  class='btnCopyWXV' src=\"/static/admin/img/icon-changelink.svg\" onClick=\"copyStr('" + title + "')\" >" + title + "</view>";
            videoLi.ondblclick = function (e) {
                console.log(e)
            };
            videoBlock.appendChild(videoLi);
        }
        var analysePanel = document.getElementById("ArticleInfo");
        analysePanel.style.height = "400px";
    }

    function fill_article_url(_id) {
        var element = $("#" + _id);
        console.log("正在添加url：", element.val(ARTICLE_URL));
        element.addClass('has_filled_automatically');
    }

    function insertFillUrlButton() {
        for (var i = 0; i < 50; i++) {
            var _id = "id_video_set-" + i + "-url";
            var _id_insert = _id + "_insert";
            $("#" + _id_insert).remove();
            var element = $("#" + _id);
            console.log("inserting now...:", _id, element);
            element.after("<img id='" + _id_insert + "' src='https://i.52112.com/icon/jpg/256/20200728/85132/3586519.jpg' style='width: 50px' onClick=\"fill_article_url('" + _id + "')\"></img>")
        }
    }

    function getInfoFromUrl(id) {


        console.log(ARTICLE_URL);
        insertFillUrlButton();

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/miniProgram/getArticleInfo", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({url: ARTICLE_URL}));
        xhr.onreadystatechange = (e) => {
            if (xhr.status === 200) {
                json_res = JSON.parse(xhr.responseText);
                console.log("这是从后端解析后得到的：s", json_res);
                let relation =
                    [{id: "articleTitle", attr: "value", json_key: 'title'},
                        {id: "description", attr: "value", json_key: 'description'},
                        {id: 'id_title', attr: "value", json_key: 'title'},
                        {id: 'id_name', attr: "value", json_key: 'title'},
                        {id: 'id_description', attr: "value", json_key: 'description'},
                        {id: 'id_cover_url', attr: "value", json_key: 'cover'},
                        {id: 'cover', attr: "src", json_key: 'cover'},
                        {id: 'cover', attr: "value", json_key: 'cover'}

                    ];
                for (var i = 0; i < relation.length; i++) {
                    let id = relation[i].id;
                    try {
                        let element = document.getElementById(id);
                        element.setAttribute(relation[i].attr, json_res[relation[i].json_key]);
                        element.setAttribute('class', 'has_filled_automatically ' + element.getAttribute('class'));
                    } catch (e) {
                        console.log("fill it failed id:", id, 'error:', e)
                    }
                }
                initVideoBlock(json_res.videos);


                {#var jsonContent = JSON.parse(xhr.responseText);#}
                {#access_token = jsonContent.access_token;#}
                {#h2_accessToken.innerHTML = access_token;#}
            }
        }
    }
</script>